In [217]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from collections import Counter
from sklearn.metrics import accuracy_score

In [111]:
df = pd.read_csv('Social_Network_Ads.csv')

In [112]:
df.head(4)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0

In [113]:
df = df.drop(columns = "User ID")

In [114]:
df.head(4)

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0

In [115]:
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
# Male 1, Female 0

In [116]:
X = df.iloc[:, 0:3].values
scaler = StandardScaler()
X = scaler.fit_transform(X)
y = df.iloc[:, -1].values

In [221]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, random_state=10, test_size=0.2)

In [227]:
class Knn:

    def __init__(self, k):

        self.n_neighbors = k
        self.X_train = None
        self.Y_train = None

    def fit(self,X_train, Y_train):

        self.X_train = X_train
        self.Y_train = Y_train

    def predict(self, X_test):

        y_pred = []

        for i in X_test:
            
            distances = []
            for j in self.X_train:
                distances.append(self.calculate_distance(i, j))
                
            n_neighbors = sorted(list(enumerate(distances)), key = lambda x:x[1])[0: self.n_neighbors]
            label = self.majority_count(n_neighbors)
            y_pred.append(label)
        return np.array(y_pred)
    
    def calculate_distance(self, a, b): 
        return np.sqrt(np.sum((a - b) ** 2))
        # return np.linalg.norm(a-b)

    
    def majority_count(self, neighbors):
        # for i in neighbors:
        #     print(i, self.Y_train[i[0]])
        votes = []
        for i in neighbors:
            votes.append(self.Y_train[i[0]])    
            
        votes = Counter(votes)
        return votes.most_common()[0][0]
        # print(votes)

In [228]:
knn = Knn(5)

In [229]:
knn.fit(X_train, Y_train)

In [230]:
y_pred = knn.predict(X_test)

In [231]:
print(accuracy_score(Y_test, y_pred))

0.925